# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
*.egg-info/

# Node
node_modules/
dist/
build/
.env.local

# Secrets
kubeconfig
**/secrets.yaml
**/secret.yaml.local

# OS
.DS_Store
*.log
